/*******************************************/
/*                INITIAL                  */
/*******************************************/

$minWidth: 1024px;
$sideWidth: 205px;

/*******************************************/
/*                 COLORS                  */
/*******************************************/

$primaryBlue: #2379EA;
